.login-wrapper {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f5f7fb;
}

.login-card {
  background:white;
  padding:40px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.input {
  width:100%;
  margin-top:10px;
  padding:10px;
  border-radius:6px;
  border:1px solid #ddd;
}

.login-btn {
  margin-top:15px;
  background:#2563eb;
  color:white;
  padding:10px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}